<!DOCTYPE html>
<html>
<head>
  <title>Cart</title>
  <link rel="stylesheet" href="/css/chefLogged.css">
</head>
<body>
  <h1>Cart</h1>
  <p>Item: {{item.item_name}}</p>
  <p>Price per item: Rs{{item.price}}</p>
  <p>Quantity: {{quantity1}}</p>
  <p>Total Price: Rs.{{totalPrice}}</p>
  <p>Time of Order :{{datetime}}</p>
  <a href="/userLogged2" class="btn btn-primary btn-outline" style="padding: 15px;">Cancel Order</a>
	<a href="/confirm" class="btn btn-primary btn-outline" style="padding: 15px;">Confirm Order</a>
</body>
</html>